@model Polizia.Models.Anagrafica

@{
    ViewData["Title"] = "Delete Anagrafica";
}

<h1>Cancella Dati Anagrafica</h1>

<h4>Sei sicuro che vuoi cancellare?</h4>
<div>
    <h4>Anagrafica</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Città)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Città)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CAP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CAP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cod_Fisc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cod_Fisc)
        </dd>
    </dl>

    <form asp-controller="Anagrafiche" asp-action="EliminaInformazione" method="post" class="d-inline" onsubmit="return confirm('Sei sicuro di voler eliminare questa anagrafica?');">
        <input type="hidden" name="id" value="@Model.IdAnagrafica" />
        <button type="submit" class="btn btn-danger">Cancella <i class="bi bi-trash-fill"></i></button>
    </form> |
    <a class="btn btn-primary" asp-action="Index">Torna alla lista</a>
</div>


