@model IEnumerable<Polizia.Models.TipoViolazione>

@{
    ViewData["Title"] = "Tipi di Violazioni";
}

<h1>Tipi di Violazioni</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crea Nuovo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrizione)
                </td>
                <td>
                    <a class="text-light" asp-action="Edit" asp-route-id="@item.IdViolazione">Modifica</a> |
                    <a class="text-light" asp-action="Details" asp-route-id="@item.IdViolazione">Dettagli</a> |
                    <a class="text-light" asp-action="Delete" asp-route-id="@item.IdViolazione">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
